.App {
  text-align: center;
}

nav{
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: rgb(77, 153, 147);
  color: gold;
}

.nav-links{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link-style{
  color: greenyellow;
}

img{
  height: 200px;
  width: 200px;
}